body{
    margin: 0;
    padding: 0;
    font-family:'Helvetica' ,sans serif;
    /*font-weight: 600 ;*/
    color: ;
    background: #2196F3;
    letter-spacing: 2px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
}
.accordion-container {
    padding: 12px 10px;
    box-sizing:border-box;
    position: relative;
    /*width: 100%;*/
    width: 500px;
    background: #fff;
    border-radius: 4px;
}
.accordion {
    padding: 2px 10px;
    position: relative;
    transition: 2s ease-in-out;
    outline: none;
    /*width: 50%;*/
}
.accordion-collapse {
	overflow: hidden;
	height: 150px;
}
.accordion:focus {
    overflow-y: visible;
    height: initial;
}
.accordion h1{
    color: #333;
}
.accordion p{
    color: #222;
}
.reveal-btn {
	margin-top: 20px;
	position: absolute;
	bottom: -20px;
	height: 40px;
	width: 100%;
	background: linear-gradient(rgba(140, 131, 131, 0.19),rgba(0, 0, 0, 0.52));
	left:0;
	/*opacity: 0;*/
	/*border-radius: 20px;*/
	text-align: center;
	color: #000;
}
.reveal-btn p {
	position: absolute;
	top:0;
	margin: 0;
	padding: 0;
	font-size: 40px;
	transform:rotate(180deg);
}